 footer {
    padding: 4rem 0;
 }
 .card-top {
    background: rgb(36, 79, 250);
    text-align: center;
    padding: 3rem 1rem;
    color: white;
    border-radius: 2rem;
    border: 3px solid rgb(165, 165, 250);
    box-shadow: 1px 6px 12px rgb(139, 139, 220);
    margin: 2rem 0;
 }

.card-top h1 {
    margin-bottom: 1rem;
}
.card-top p {
    margin-bottom: 1rem;
    opacity: 0.6;
    font-size: 14px;

}
 .btn-footer {
    width: max-content;
    display: inline-block;
    background:rgb(111, 111, 226);
    color: white;
    padding: 0.75rem 1.4rem;
    border-radius: 0.5rem;
    transition: var(--transition);
    cursor: pointer;
    border: 2px solid white;
    font-weight: 700;
 }
 .btn-footer:hover {
    transform: scale(1.07);
 }

 .footer-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer-left h2 {
    color: rgb(26, 26, 143);
    font-weight: 700;
 }

 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
 }
 ul li {
    margin-top: 1rem ;
    cursor: pointer;
    font-weight: bold;
    transition: var(--transition);
 }
 ul li:hover {
    color: blue;
 }
 